@keyframes slideUp {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
}

.loginContainer {
  background-color: black;
  justify-content: center;
  color: white;
  text-align: center;
}

.loginBox {
  margin-top: 30vh;
  background-color: grey;
  width: 50vw;
  min-height: 15vh;
}

.loginForm {
  flex-direction: column;
  align-content: center;
}

.otherOptions {
  flex-direction: row;
}

.otherOptions {
  position: relative
}

.signUpBox {
  left: 0px;
  background-color:burlywood;
  position: absolute;
  min-width: 25vw;
  animation: slideUp 300ms;
}

.signUpForm {
  flex-direction: column;
  align-content: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

